:root {
  --pfamily: 'fira sans', sans-serif;
  --red: #dc3545;
  --gray: #777777;
  --green: #119744;
  --text: #555555;
  --blue: #1494a9;
  --white: #ffffff;
  --black: #373f50;
  --matte-black: #28282B;
  --chalk: #f5f5f5;
  --green: #11b76b;
  --purple: #b12fad;
  --orange: #eb6214;
  --yellow: #F2F50B;
  --body: #ffffff;
  --border: #e8e8e8;
  --heading: #39404a;
  --primary: #088178;
  --icon: #2b9c94;
  --sub-heading: #565765;
  --green-chalk: #ddffd5;
  --green-dark: #072f17;
  --gray-chalk: #cccccc;
  --intro-bg: #f8fffa;
  --facebook: #3b5998;
  --linkedin: #0e76a8;
  --twitter: #00acee;
  --google: #E60023;
  --instagram: #F77737;
  --bshadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);
  --primary-bshadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);
  --primary-tshadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
  --orange-tshadow: 2px 3px 8px rgba(0, 0, 0, 0.1)
}
* { margin: 0; padding: 0;}
body {overflow-x: hidden;color: #1a1a1a;font-size: 14px;line-height: 24px;font-style: normal;font-weight: 400;font-family: var(--pfamily);}
h1,h2,h3,h4,h5,h6,p { padding: 0; margin: 0;}
ul,ol { list-style: none; }
a {text-decoration: none !important;}
button.btn:focus,button.btn:focus-visible{outline: none;box-shadow: none;}
.row{margin-left: 0;margin-right: 0;}
img{width: 100%;height: 100%;object-fit: contain;vertical-align: middle;}
.container{ width: 80%;}
/* scrollbar css start */
.scroll-bar::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background-color:  var(--white);
  border-radius: 4px;
}
.scroll-bar::-webkit-scrollbar{
  width: 5px;
  background-color: #F5F5F5;
}
.scroll-bar::-webkit-scrollbar-thumb{
  background-color: var(--primary);
}
/* scrollbar css end */
/* HIGHLIGHTED TITLE START */
.highlight-title{
  color: #cc8119;
  background-color: #fcf4e9;
  text-shadow: 1px 1px #FFF !important;
  text-align: center;
  padding: 30px 0 30px 0;
  font-size: 30px;
  font-weight: 600;
  margin: 10px 0 20px 0;
  font-family: 'Fjalla One', sans-serif;
}
.highlight-title-two{
  color: #009688;
  background-color: #ccf7f1;
  font-family: INHERIT;
  text-shadow: 1px 1px #FFF !important;
  text-align: center;
  padding: 20px 0 10px 0;
  font-size: 30px;
  font-weight: 600;
  margin: 10px 0 20px 0;
  font-family: 'Fjalla One', sans-serif;
}
.highlight-title-two .title{
  margin: 10px 0 5px 0;
}
.highlight-title-two .topic{  
  font-size: 14px;
  font-weight: 400;
}
.highlight-title-two .link {  
  font-size: 12px;
  color: #009688;
  cursor: pointer;
}
/* HIGHLIGHTED TITLE END */

/* CHECK BOX START */
.pretty * {
  box-sizing: border-box
}
.pretty {
  position: relative;
  display: inline-block;
  margin-right: 1em;
  white-space: nowrap;
  line-height: 1;
}
.pretty input {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 1em;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.pretty .state label {
  position: initial;
  display: inline-block;
  font-weight: 400;
  margin: 0;
  text-indent: 1.5em;
  min-width: calc(1em + 2px);
}
.pretty.p-default .state label:after {
  -webkit-transform: scale(.6);
  -ms-transform: scale(.6);
  transform: scale(.6);
}
.pretty input:checked~.state.p-warning-o label:before, .pretty.p-toggle .state.p-warning-o label:before {
  border-color: #00BCD4;
}
.pretty.p-default.p-thick .state label:after, .pretty.p-default.p-thick .state label:before {
  border-width: calc(1em / 7);
}
.pretty.p-default:not(.p-fill) input:checked~.state.p-warning-o label:after {
  background-color: #00BCD4 !important;
}
.pretty.p-default.p-thick .state label:after {
  -webkit-transform: scale(.6) !important;
  -ms-transform: scale(.6) !important;
  transform: scale(.6) !important;
}
.pretty .state label:after, .pretty .state label:before {
  content: '';
  width: calc(1em + 2px);
  height: calc(1em + 2px);
  display: block;
  box-sizing: border-box;
  border-radius: 0;
  border: 1px solid transparent;
  z-index: 0;
  position: absolute;
  left: 0;
  top: calc((0% - (100% - 1em)) - 8%);
  background-color: transparent;
}
.pretty .state label:before {
  border: 2px solid #00BCD4;
}
@-webkit-keyframes pulse {
  0% {
      box-shadow: 0 0 0 0 #00BCD4
  }

  100% {
      box-shadow: 0 0 0 1.5em rgba(189, 195, 199, 0)
  }
}

@keyframes pulse {
  0% {
      box-shadow: 0 0 0 0 #00BCD4
  }

  100% {
      box-shadow: 0 0 0 1.5em rgba(189, 195, 199, 0)
  }
}
.pretty.p-pulse:not(.p-switch) input:checked~.state label:before {
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
}
.level-1.pretty .state label {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: #03c6e0;
  letter-spacing: -0.5px;
}
.level-2.pretty{
  margin-left: 15px;
}
.level-3.pretty{
  margin-left: 30px;
}
/* CHECK BOX END */