/*--------- HEADER CSS START ---------*/
.header{
  background-color: #F3F3F3;
}
.header .exclusive-link {
  display: inline-block;
  background: #28282B;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}
.header .exclusive-link img{
  width: 20px;
}
.header .exclusive-link span{

}
.header .exclusive-link i{

}
.header .header-order {
  display: inline-block;
  background: #2BB673;
  color: white;
  width: 160px;
  padding: 5px 0;
  text-align: center;
}
.header .header-order i{

}
.header .header-order span{

}
.header .header-country{
  
}
.header .header-country .dropdown {
  
}
.header .header-country button {
  border: none;
  border-radius: 0;
  font-size: 14px;
  width: 160px;
  text-align: center;
  background-color: #E5E5E5;
  color: #28282B;
}
.header .header-help {
  color: black;
  display: inline-block;
  text-align: center;
}
.header .header-help i{

}
.header .header-help span{

}
.header .header-auth{
  color: black;
  display: inline-block;
  text-align: center;
  padding-top: 5px;
}
.header .header-auth i{

}
.header .header-auth span{

}

/*---------- NAVBAR ----------*/
.navbar-section {
  position: relative;
  padding-top: 20px;
}
.navbar-section .logo{
  width: 100%;
}
.dropdown-menu {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: none;
  border-radius: 0;
  padding: 0.7em;  
}
.dropdown-menu .dropdown-item {
  color: #28282B;
  font-size: 14px;
  padding: 0;
  background: transparent;
  opacity: 0.7;
  transition: 300ms;
}
.dropdown-menu .dropdown-item:hover{
  color: #2BB673;
}
.dropdown-menu li:first-child a {
  font-weight: bold;
  font-size: 16px;
  color: #28282B;
  padding: 0;
  margin: 0;
  background: transparent;
  opacity: 1;
}
.dropdown-main:hover .dropdown-menu {
  display: block;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 75%;
  min-height: 50vh;
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.dropdown-main .nav-link.dropdown-toggle{
  color: #28282B;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 25px;
}
/* search */
.header-search {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-items: stretch;
  border-radius: 50px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
  width: 90%;
}
.search{
  border:none;
  width: 100%;
  font-size: 15px;
}
.search:focus{
  outline: none;
}
.search-icon{
  margin: 10px;
  color:rgba(0, 0, 0, 0.564);
}
.search-button{
  border:none;
  cursor: pointer;
  color:#fff;
  background-color:#1dbf73;
  padding:0px 10px;
}
.navbar-section .wish-icon{
  font-size: 22px;
  color: #15243B;
}
.navbar-section .wish-icon i{

}
.navbar-section .cart-icon{
  font-size: 22px;
  color: #15243B;
}
.navbar-section .cart-icon i{

}