/*--------- HEADER CSS START ---------*/
.header{
  background-color: #F3F3F3;
}
.header .exclusive-link {
  display: inline-block;
  background: #28282B;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}
.header .exclusive-link img{
  width: 20px;
}
.header .header-order {
  display: inline-block;
  background: #2BB673;
  color: white;
  width: 160px;
  padding: 5px 0;
  text-align: center;
}
.header .header-country button {
  border: none;
  border-radius: 0;
  font-size: 14px;
  width: 160px;
  text-align: center;
  background-color: #E5E5E5;
  color: #28282B;
}
.header .header-help {
  color: black;
  display: inline-block;
  text-align: center;
}
.header .header-auth{
  color: black;
  display: inline-block;
  text-align: center;
  padding-top: 5px;
}
/*---------- NAVBAR ----------*/
.navbar-section {
  position: relative;
  padding-top: 20px;
}
.navbar-section .logo{
  width: 100%;
}
.dropdown-menu {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: none;
  border-radius: 0;
  padding: 0.7em;  
}
.dropdown-menu .dropdown-item {
  color: #28282B;
  font-size: 14px;
  padding: 0;
  background: transparent;
  opacity: 0.7;
  transition: 300ms;
}
.dropdown-menu .dropdown-item:hover{
  color: #2BB673;
}
.dropdown-menu li:first-child a {
  font-weight: bold;
  font-size: 16px;
  color: #28282B;
  padding: 0;
  margin: 0;
  background: transparent;
  opacity: 1;
}
.dropdown-main:hover .dropdown-menu {
  display: block;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 75%;
  min-height: 50vh;
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.dropdown-main .nav-link.dropdown-toggle{
  color: #28282B;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 25px;
}
/* search */
.navbar-search {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-items: stretch;
  border-radius: 50px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
  width: 90%;
}
.navbar-search .search{
  border:none;
  width: 100%;
  font-size: 15px;
}
.navbar-search .search:focus{
  outline: none;
}
.navbar-search .search-icon{
  margin: 10px;
  color:rgba(0, 0, 0, 0.564);
}
.navbar-search .search-button{
  border:none;
  cursor: pointer;
  color:#fff;
  background-color:#1dbf73;
  padding:0px 10px;
}
.navbar-section .wish-icon{
  font-size: 22px;
  color: #15243B;
}
.navbar-section .cart-icon{
  font-size: 22px;
  color: #15243B;
}
.navbar-section .cart-count {
  font-size: 10px;
  background: #1dbf73;
  width: 15px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  color: white;
  border-radius: 2px;
  top: 0;
  right: -17px;
}
/*----------- TAG SECTION ------------*/
.home-tag{  
  background-color: #f7f7f7;
}
.home-tag .tag-item{
  width: 25%;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;  
  color: #28282B;
}
.home-tag .tag-item:first-child{
  background-color: #F1F1F1;
  clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
}
.home-tag .tag-app-title{
  font-weight: 500;
  font-size: 16px;
  padding: 15px 0;
  color: #28282B;
}
.home-tag .tag-app {
  width: 135px;
  height: 40px;
}
/*----------- NEW ARRIVAL SECTION ------------*/
.new-arrival .arrival-item{
  position: relative;
  display: block;
  height: 100%;
}
.new-arrival .arrival-item img {
  border-radius: 2px;
}
.new-arrival .arrival-item span {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  background: white;
  width: auto;
  border-radius: 0 0 10px 10px;
  text-align: center;
  padding: 3px 10px;
  font-size: 12px;
  line-height: initial;
  color: #28282B;
}
/*----------- NEW ARRIVAL SECTION ------------*/
.category-wise{
  margin-top: 80px;
  margin-bottom: 80px;
}
.category-wise-item span {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  background: linear-gradient(0deg, rgb(0 0 0 / 60%) 0%, rgb(0 0 0 / 45%) 30%, rgb(0 0 0 / 16%) 66%, rgb(0 0 0 / 0%) 100%);
  height: 75px;
  line-height: 100px;
  font-family: 'Fjalla One', sans-serif;
}
/*----------- PRODUCT SECTION ------------*/
.product{
  margin-bottom: 80px;
}
.product-item{
  display: block;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 7px 15px 0 rgb(0 0 0 / 13%), 0 1px 4px 0 rgb(0 0 0 / 11%);
}
.product-item .product-price {
  bottom: -10px;
  text-align: center;
  width: 83%;
  background: #FFF;
  border-radius: 3px;
  color: #28282B;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%, 0%);
}
.product-item .taka-icon{
  font-size: 10px;
  text-decoration: initial;
}
.product-item del{
  color: gray;
}
/*----------- PROMO BANNER SECTION ------------*/
.promo-banner{
  margin-bottom: 80px;
}
.promo-banner .promo-details .tag img {
  width: 50px;
  margin-left: 5px;
  transform: skew(0deg, 3deg);
  margin-top: -8px;
}
.promo-banner .promo-details .tag {
  font-size: 24px;
  font-weight: 600;
  font-family: 'Fjalla One';
}
.promo-banner .promo-details .title {
  font-size: 18px;
  font-weight: 500;
}
.promo-banner .promo-details .promo-description {
  font-size: 14px;
  margin-top: 15px;
}